@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#000;
    background-color: lightgray;
}
#wrap{
    width:90%;
    /* border:1px solid red; */
    margin: auto;
    max-width:1200px;
    display: flex;
    flex-flow:row wrap;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 10px 5px;
}
h1{
    font-size: 1.8rem;
}
header.header{
    display: flex;
    flex-flow:row nowrap;
    width:100%;
    border:1px solid gray;
    box-shadow: 0 2px 20px rgba(0,0,0,0.3) ;
}
.logo{
    display: inline-block;
    width: calc(100%-87%);
    margin:10px 0 10px 20px;
}
nav{
    display: flex;
    width:87%;
    flex-flow:row nowrap;
    justify-content: flex-end;
    margin:0 auto;
}
ul.nav-items{
    margin-right:20px;
}
ul.nav-items>li{
    display: inline-block;
    line-height: 60px;
    padding:0 30px;
    color:darkgray;
}
/* #content-wrap--------------------- */
#content-wrap{
    display: flex;
    flex-flow:row nowrap;
    width:100%;
    justify-content: center;
}
/* aside --------------------- */
aside{
    display: flex;
    width:20%;
    flex-flow: column nowrap;
    background-color: #333;
    padding-top:25px;
    justify-content: flex-start;
    align-items: stretch;
}
aside ul li{
    display: block;
}
aside ul li a{
    display: block;
    color:#fff;
    padding:10px 0 10px 20px;
}
aside ul li a.active{
    background-color: lightseagreen;
}
aside ul li a:hover:not(.active){
    background-color: #555;
}
​
/* section------------------ */
section.section{
    display: flex;
    flex-flow: row wrap;
    width:80%;
    padding:10px;
    justify-content: space-around;
}
section article{
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    width:21%;
}
/* footer--------------- */
footer{
    display: flex;
    border-top:1px solid #ddd;
    height:10vh;
    line-height: 60px;
    padding:0 25px;
    justify-content: center;
    width: 100%;
}